<!-- single-portfolio -->
            <div class="single-project gym fitness body">
              <div class="iso-overflow"></div>
              <%= image_tag 'portfolio/05.jpg' %>
              <div class="project-lightbox">
                <div class="project-lightbox-middile">
                <%= link_to image_tag("portfolio/05.jpg"), "image.jpg", :rel => "lightbox", :title => "GYM", :data => "roadtrip" %>
                  <i class: "fa fa-plus" aria: {hidden: true} %></i>
                </div>
              </div>
            </div>
            <!-- single-portfolio -->
            <!-- <div class="single-project fitness body">
              <div class="iso-overflow"></div>
              <%= image_tag 'portfolio/06.jpg' %>
              <div class="project-lightbox">
                <div class="project-lightbox-middile">
                  <%= link_to image_tag("portfolio/06.jpg"), "image.jpg", :rel => "lightbox", :title => "GYM", :data => "roadtrip" %>
                    <i class: "fa fa-plus" aria: {hidden: true} %></i>
                </div>
              </div>
            </div> -->
            <!-- single-portfolio -->
            <!-- <div class="single-project gym body">
              <div class="iso-overflow"></div>
              <%= image_tag 'portfolio/07.jpg' %>
              <div class="project-lightbox">
                <div class="project-lightbox-middile">
                  <%= link_to image_tag("portfolio/07.jpg"), "image.jpg", :rel => "lightbox", :title => "GYM", :data => "roadtrip" %>
                    <i class: "fa fa-plus" aria: {hidden: true} %></i>
                </div>
              </div>
            </div> -->
            <!-- single-portfolio -->
            <!-- <div class="single-project gym">
              <div class="iso-overflow"></div>
              <%= image_tag 'portfolio/08.jpg' %>
              <div class="project-lightbox">
                <div class="project-lightbox-middile">
                <%= link_to image_tag("portfolio/08.jpg"), "image.jpg", :rel => "lightbox", :title => "GYM", :data => "roadtrip" %>
                  <i class: "fa fa-plus" aria: {hidden: true} %></i>
                </div>
              </div>
            </div> -->
            <!-- single-portfolio -->
            <!-- <div class="single-project yoga boxing">
              <div class="iso-overflow"></div>
              <%= image_tag 'portfolio/09.jpg' %>
              <div class="project-lightbox">
                <div class="project-lightbox-middile">
                  <%= link_to image_tag("portfolio/09.jpg"), "image.jpg", :rel => "lightbox", :title => "GYM", :data => "roadtrip" %>
                    <i class: "fa fa-plus" aria: {hidden: true} %></i>
                </div>
              </div>
            </div> -->
            <!-- single-portfolio -->
            <!-- <div class="single-project gym yoga">
              <div class="iso-overflow"></div>
              <%= image_tag 'portfolio/10.jpg' %>
              <div class="project-lightbox">
                <div class="project-lightbox-middile">
                <%= link_to image_tag("portfolio/10.jpg"), "image.jpg", :rel => "lightbox", :title => "GYM", :data => "roadtrip" %>
                  <i class: "fa fa-plus" aria: {hidden: true} %></i>
                </div>
              </div>
            </div> -->
            <!-- single-portfolio -->
            <!-- <div class="single-project gym yoga">
              <div class="iso-overflow"></div>
              <%= image_tag 'portfolio/11.jpg' %>
              <div class="project-lightbox">
                <div class="project-lightbox-middile">
                <%= link_to image_tag("portfolio/11.jpg"), "image.jpg", :rel => "lightbox", :title => "GYM", :data => "roadtrip" %>
                  <i class: "fa fa-plus" aria: {hidden: true} %></i>
                </div>
              </div>
            </div> -->
            <!-- single-portfolio -->
            <!-- <div class="single-project gym boxing">
              <div class="iso-overflow"></div>
              <%= image_tag 'portfolio/12.jpg' %>
              <div class="project-lightbox">
                <div class="project-lightbox-middile">
                  <%= link_to image_tag("portfolio/12.jpg"), "image.jpg", :rel => "lightbox", :title => "GYM", :data => "roadtrip" %>
                  <i class: "fa fa-plus" aria: {hidden: true} %></i>
                </div>
              </div>
            </div> -->
            <!-- single-portfolio -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <!-- ======= Portfolio part end ======= -->
