<section id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'slider1.jpg', class: 'animated fadeIn' %>
      <div class="carousel-caption">
        <div class="gym-slider">
          <div class="gym-single-slider">
            <h1 class="animated fadeInDown">it’s <span>gym</span> time.let’s <span>go</span></h1>
            <h2 class="animated slideInRight">we are ready to <span>fit</span> you</h2>
            <a href="" class="gym-btn transparent-btn btn-padding hvr-shutter-in-vertical animated fadeIn">learn more</a>
            <a href="" class="gym-btn transparent-btn  btn-padding hvr-shutter-out-vertical animated fadeIn">join now</a>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <%= image_tag 'slider2.jpg', class: 'fadeIn' %>
      <div class="carousel-caption">
        <div class="gym-slider">
          <div class="gym-single-slider">
            <h1 class="animated fadeInDown">what's your <span>mind</span> belives</h1>
            <h2 class="animated slideInRight">yes you can <span>do</span> it<span>.</span></h2>
            <a href="" class="gym-btn transparent-btn btn-padding hvr-shutter-in-vertical animated fadeIn">learn more</a>
            <a href="" class="gym-btn transparent-btn btn-padding hvr-shutter-out-vertical animated fadeIn">join now</a>
          </div>
        </div>
      </div>
    </div>

      <div class="carousel-item">
        <%= image_tag 'slider3.jpg', class: 'fadeIn' %>
        <div class="carousel-caption">
          <div class="gym-slider">
            <div class="gym-single-slider">
              <h1 class="animated fadeInDown">MAKE <span>IT </span>HAPPEN!</h1>
              <h2 class="animated slideInRight">WINING IS <span>EASIER THAN</span> YOU THINK!</h2>
              <a href="" class="gym-btn transparent-btn btn-padding hvr-shutter-in-vertical animated fadeIn">learn more</a>
              <a href="" class="gym-btn transparent-btn btn-padding hvr-shutter-out-vertical animated fadeIn">join now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

  <!--======= Service part start ======= -->
<section id="services" class="service-part-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h1>be <span>fit</span> here</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="single-service">
          <div class="single-icon-img">
            <%= image_tag '01icon.png' %>
          </div>
          <h3>heart beats</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <!-- single service part -->
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="single-service">
          <div class="single-icon-img">
            <%= image_tag '02icon.png' %>
          </div>
          <h3>body building</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <!-- single service part -->
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="single-service">
          <div class="single-icon-img">
            <%= image_tag '03icon.png' %>
          </div>
          <h3>weight lifting</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <!-- single service part -->
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="single-service">
          <div class="single-icon-img">
            <%= image_tag '04icon.png' %>
          </div>
          <h3>weight loss</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <!-- single service part -->
      </div>
    </div>
  </div>
</section>
<!-- ======= Service part end ======= -->
<!-- ======= About gym part start ======= -->
<section class="about-gym-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-7">
        <div class="title fadeInDown">
          <h1>about <span>gym</span></h1>
        </div>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <a href="" class="gym-btn none-border hvr-shutter-out-vertical fadeIn ">learn more</a>
      </div>
    </div>
  </div>
</section>
    <!-- ======= About gym part end ======= -->

<!-- ======= Portfolio part start ======= -->
<section id="portfolio" class="portfolio-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h1>our <span>Portfolio</span></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="iso-wraper">

          <!-- Portfolio Menu -->
          <!-- <div class="iso-nav">
            <ul>
              <li class="hvr-shutter-out-vertical none-border portfolio-active" data-filter="*">All</li>
              <li class="hvr-shutter-out-vertical none-border" data-filter=".gym">gym fitness</li>
              <li class="hvr-shutter-out-vertical none-border" data-filter=".yoga">yoga</li>
              <li class="hvr-shutter-out-vertical none-border" data-filter=".boxing">boxing</li>
              <li class="hvr-shutter-out-vertical none-border" data-filter=".fitness">fitness</li>
              <li class="hvr-shutter-out-vertical none-border" data-filter=".body">body</li>
            </ul>
          </div> -->
          <div class="iso-content">
            <div class="single-project gym fitness">
              <div class="iso-overflow"></div>
              <%= image_tag 'portfolio/01.jpg' %>
              <div class="project-lightbox">
                <div class="project-lightbox-middile">
                  <%= link_to image_tag("portfolio/01.jpg"), "image.jpg", :rel => "lightbox", :title => "GYM", :data => "roadtrip" %>
                    <i class: "fa fa-plus" aria: {hidden: true} %></i>
                </div>
              </div>
            </div>
            <!-- single-portfolio -->
            <div class="single-project yoga">
              <div class="iso-overflow"></div>
              <%= image_tag 'portfolio/02.jpg' %>
              <div class="project-lightbox">
                <div class="project-lightbox-middile">
                  <%= link_to image_tag("portfolio/02.jpg"), "image.jpg", :rel => "lightbox", :title => "GYM", :data => "roadtrip" %>
                    <i class: "fa fa-plus" aria: {hidden: true} %></i>
                </div>
              </div>
            </div>
            <!-- single-portfolio -->
            <div class="single-project gym body">
              <div class="iso-overflow"></div>
              <%= image_tag 'portfolio/03.jpg' %>
              <div class="project-lightbox">
                <div class="project-lightbox-middile">
                <%= link_to image_tag("portfolio/03.jpg"), "image.jpg", :rel => "lightbox", :title => "GYM", :data => "roadtrip" %>
                    <i class: "fa fa-plus" aria: {hidden: true} %></i>
                </div>
              </div>
            </div>
            <!-- single-portfolio -->
            <div class="single-project gym fitness">
              <div class="iso-overflow"></div>
              <%= image_tag 'portfolio/04.jpg' %>
              <div class="project-lightbox">
                <div class="project-lightbox-middile">
                <%= link_to image_tag("portfolio/04.jpg"), "image.jpg", :rel => "lightbox", :title => "GYM", :data => "roadtrip" %>
                  <i class: "fa fa-plus" aria: {hidden: true} %></i>
                </div>
              </div>
            </div>
            <!-- single-portfolio -->
            <div class="single-project gym fitness body">
              <div class="iso-overflow"></div>
              <%= image_tag 'portfolio/05.jpg' %>
              <div class="project-lightbox">
                <div class="project-lightbox-middile">
                <%= link_to image_tag("portfolio/05.jpg"), "image.jpg", :rel => "lightbox", :title => "GYM", :data => "roadtrip" %>
                  <i class: "fa fa-plus" aria: {hidden: true} %></i>
                </div>
              </div>
            </div>
            <!-- single-portfolio -->
            <!-- <div class="single-project fitness body">
              <div class="iso-overflow"></div>
              <%= image_tag 'portfolio/06.jpg' %>
              <div class="project-lightbox">
                <div class="project-lightbox-middile">
                  <%= link_to image_tag("portfolio/06.jpg"), "image.jpg", :rel => "lightbox", :title => "GYM", :data => "roadtrip" %>
                    <i class: "fa fa-plus" aria: {hidden: true} %></i>
                </div>
              </div>
            </div> -->
            <!-- single-portfolio -->
            <!-- <div class="single-project gym body">
              <div class="iso-overflow"></div>
              <%= image_tag 'portfolio/07.jpg' %>
              <div class="project-lightbox">
                <div class="project-lightbox-middile">
                  <%= link_to image_tag("portfolio/07.jpg"), "image.jpg", :rel => "lightbox", :title => "GYM", :data => "roadtrip" %>
                    <i class: "fa fa-plus" aria: {hidden: true} %></i>
                </div>
              </div>
            </div> -->
            <!-- single-portfolio -->
            <!-- <div class="single-project gym">
              <div class="iso-overflow"></div>
              <%= image_tag 'portfolio/08.jpg' %>
              <div class="project-lightbox">
                <div class="project-lightbox-middile">
                <%= link_to image_tag("portfolio/08.jpg"), "image.jpg", :rel => "lightbox", :title => "GYM", :data => "roadtrip" %>
                  <i class: "fa fa-plus" aria: {hidden: true} %></i>
                </div>
              </div>
            </div> -->
            <!-- single-portfolio -->
            <!-- <div class="single-project yoga boxing">
              <div class="iso-overflow"></div>
              <%= image_tag 'portfolio/09.jpg' %>
              <div class="project-lightbox">
                <div class="project-lightbox-middile">
                  <%= link_to image_tag("portfolio/09.jpg"), "image.jpg", :rel => "lightbox", :title => "GYM", :data => "roadtrip" %>
                    <i class: "fa fa-plus" aria: {hidden: true} %></i>
                </div>
              </div>
            </div> -->
            <!-- single-portfolio -->
            <!-- <div class="single-project gym yoga">
              <div class="iso-overflow"></div>
              <%= image_tag 'portfolio/10.jpg' %>
              <div class="project-lightbox">
                <div class="project-lightbox-middile">
                <%= link_to image_tag("portfolio/10.jpg"), "image.jpg", :rel => "lightbox", :title => "GYM", :data => "roadtrip" %>
                  <i class: "fa fa-plus" aria: {hidden: true} %></i>
                </div>
              </div>
            </div> -->
            <!-- single-portfolio -->
            <!-- <div class="single-project gym yoga">
              <div class="iso-overflow"></div>
              <%= image_tag 'portfolio/11.jpg' %>
              <div class="project-lightbox">
                <div class="project-lightbox-middile">
                <%= link_to image_tag("portfolio/11.jpg"), "image.jpg", :rel => "lightbox", :title => "GYM", :data => "roadtrip" %>
                  <i class: "fa fa-plus" aria: {hidden: true} %></i>
                </div>
              </div>
            </div> -->
            <!-- single-portfolio -->
            <!-- <div class="single-project gym boxing">
              <div class="iso-overflow"></div>
              <%= image_tag 'portfolio/12.jpg' %>
              <div class="project-lightbox">
                <div class="project-lightbox-middile">
                  <%= link_to image_tag("portfolio/12.jpg"), "image.jpg", :rel => "lightbox", :title => "GYM", :data => "roadtrip" %>
                  <i class: "fa fa-plus" aria: {hidden: true} %></i>
                </div>
              </div>
            </div> -->
            <!-- single-portfolio -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    <!-- ======= Portfolio part end ======= -->

<!-- ======= About us part start ======= -->
<section id="about" class="about-us-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h1>about <span>Us</span></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="about-us-content">
          <p>The Total Venom approach to a healthy fit body starts with obtaining purpose from our client's. Whether you are a current or former athlete, business professional or housewife that wants to stay fit, Total Venom has a plan to meet your needs. We discuss with our client's specific goals in one on one consultation, then can establish scheduled supervised training regimens that will stimulate muscle and development while encouraging a lifestyle for our participants.</p>

          <p>Group exercise sessions or individual training, Total Venom Consultants are experienced, trained, motivated and focused toward providing quality customer to our clientele. </p>
          <ul class="check-list">
            <li>Licensed Personal Trainers.</li>
            <li>PageMaker including versions of Lorem Ipsum.</li>
            <li>PageMaker including versions of Lorem Ipsum.</li>
            <li>PageMaker including versions of Lorem Ipsum.</li>
            <li>PageMaker including versions of Lorem Ipsum.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-us-img">
          <%= image_tag 'about-us.jpg' %>
        </div>
      </div>
    </div>
  </div>
</section>
    <!-- ======= About us part end ======= -->